/* GLOBAL */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22;
    background-color: #fff;
    color: #4a4b4c;
}

img {
    max-width: 100%;
    height: auto;
}

.contianer {
    width: 100%;
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
    margin-right: auto;
    margin-left: auto;
}


/* SITE HEADER */







/* SITE MAIN */ 
.main-content {
    flex-grow: 1;
}






/* SITE FOOTER */
.site-footer {
    background-color: #222;
    color: #fff;
}
